<div class="mt-5 container d-flex justify-content-between">
    <h1>Bonjour <%= locals.user.login %></h1>
    <form action="/logout" method="post">
        <button class="btn btn-secondary">Se Deconnecter</button>
    </form>
</div>