<%- include('../../shared/header.ejs') %>

<div class="container">
    <h1>Comptre crée !</h1>
    <a href="/login" class="btn btn-primary">Se connecter</a>
</div>

<%- include('../../shared/footer.ejs') %>