<%- include('./shared/header.ejs') %>

<ul>
	<a href="/new_project" class="btn btn-primary">Ajouter un projet</a>
	<% for (const project of projects) {%>
		<%- include('./shared/project.ejs', {project}) %>
	<%}%>
</ul>

<%- include('./shared/footer.ejs') %>